*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.search-form__textfield {
  width: 225px;
  border: solid #fff;
  border-width: 1px 0 1px 0;
  padding: 1px 1px 2px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus,
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__label-text {
  line-height: 1;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after,
.search-form__label:active .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.button {
  border: 1px solid #fff;
  padding: 7px;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  flex-grow: 1;
  align-self: end;
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 22px;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
}

.custom-scrollbar {
  padding-right: 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
  align-items: start;
  gap: 6px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  max-width: 192px;
  padding: 2px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  line-height: 16px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin: 0 0 2px 2px;
}
